:root {
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  --level-color-red: #ff0000;
  --level-color-green: #1fff00;
  --level-color-blue: #004dff;
  --level-transition-duration: 0.1s;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
}

.slider.rojo {
      color: var(--level-color-red);
}
.slider.verde {
    color: var(--level-color-green);
}
.slider.azul {
    color: var(--level-color-blue);
}


.slider {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.slider .level {
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  transition: height var(--level-transition-duration);
  cursor: pointer;
}

.slider .level::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}
.slider .level::-webkit-slider-thumb {
    box-shadow: -200px 0 0 200px var(--level-color-red);
}
.slider.verde .level::-webkit-slider-thumb {
    box-shadow: -200px 0 0 200px var(--level-color-green);
}
.slider.azul .level::-webkit-slider-thumb {
    box-shadow: -200px 0 0 200px var(--level-color-blue);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

form,div{
  background-color: #212121;
  border: 1px solid white;
  border-radius: 7px;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
}

div{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}