body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.open {
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.open:hover {
    background-color: #483d8b;
    transform: scale(1.05);
}

.open:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
}



.modal{
    position: fixed;
    inset: 1;
    background-color: white;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    z-index: 1000;

}

.modal div{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.modal button:hover {
    color: red;
}

.invisible{
    display: none;
}
